<% provide(:title,@base.branch) %>
<div>
  <table class="table table-bordered table-condensed base-table" %>
    <tr>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>拠点種類</th>
    </tr>
    <tr>
      <td><%= @base.id %></td>
      <td><%= @base.branch %></td>
      <td></td>
    </tr>
  </table>
</div>